.clearFixedMenus {
  margin-top: 0 !important;
}

.noSessions {
  position: absolute !important;
  top: 45% !important;
  left: 33% !important;
}

.fixedMenuBuffer_top {
  height: 47px;
}

.fixedMenuBuffer_bottom {
  height: 40px;
}

/* To style the document scrollbar, remove `.custom-scrollbar` */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}
