.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker-popper {
  left: -1.0rem !important;
}

.confirmSession {
  margin-top: 1.5rem !important;
}